<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

    <title>EMS</title>
</head>
<body>

<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" href="#">OCTOPUS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employees">Employee</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li class="nav-item" th:if="${privilage==true}" >
                <a class="nav-link" href="/operations">Operations</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-2x rounded-circle z-depth-0"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="#" th:text="${username}"></a>
                    <a class="dropdown-item" href="/logout">SignOut</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="card text-center container" style="margin-top:5%;">
    <div class="card-header">
        Project
        <a th:if="${privilage==true}" th:href="@{/projects/delete/{id}(id=${findproject.pid})}" style="float:right;"><i class="material-icons">delete_outline</i></a>
    </div>
    <div class="card-body">
        <h5 class="card-title"><span th:text="${findproject.projectName}" ></span><span class="badge badge-primary"th:text="${findproject.status}" style="margin-left:0.5%;"></span></h5>
        <p class="card-text" th:text="${findproject.startDate}"></p>
        <p class="card-text" th:text="${findproject.endDate}"></p>
        <p class="card-text" th:text="${findproject.projectDescription}"></p>
    </div>
    <div class="card-footer text-muted">
        ---------------------------
    </div>
</div>


</body>
</html>